<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">


        <div class="section-title">
            <h2>Niech przemówią liczby!</h2>
            <p></p>
        </div>


        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>liczba zorganizowanych wydarzeń</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>liczba członkiń</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>liczba lokalizacji w których działa stowarzyszenie</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>liczba wypływanych mil morskich</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->