<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">

        <div class="section-title">
            <h2>Partnerzy</h2>
            <p>Opis</p>
        </div>

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">

                {% for partner in site.data.partners %}
                    <div class="swiper-slide"><img src="assets/img/partners/{{ partner.logo }}" class="img-fluid" alt="{{ partner.name }}"></div>
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Clients Section -->