---
title: O nas
layout: page
permalink: /o-nas/
---


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">

            <div class="col-lg-6">
                <img src="/assets/img/about.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0  content">
                <h3>Żeglarstwo to nie tylko jacht i woda, to przede wszystkim ludzie!</h3>
                <p class="fst-italic">

                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Jesteśmy kobietami różnych zawodów i aktywności. Mamy różne temperamenty, zainteresowania, wiek. Mieszkamy w różnych miejscach w Polsce i na świecie. Dzielą nas dziesiątki, setki, a nawet tysiące kilometrów. Łączy nas jedna rzecz - wspólna pasja, czyli żeglarstwo.</li>
                    <li><i class="bi bi-check-circle"></i> Tworzymy Stowarzyszenie, aby ułatwiać sobie i innym kobietom realizację tej pasji, dzielenie się doświadczeniem i wiedzą, w bezpiecznym środowisku, które daje poczucie kobiecej wspólnoty.</li>
                    <li><i class="bi bi-check-circle"></i> Organizujemy kobiece rejsy, żeglarskie spotkania i warsztaty motywacyjne. Pomagamy kobietom wejść do żeglarskiego świata. Współpracujemy ze szkołami oraz firmami z branży żeglarskiej.</li>
                    <li><i class="bi bi-check-circle"></i> Stowarzyszenie Kobiety Żeglują to społeczność kobiet, które dopiero zaczynają swoją przygodę z żeglarstwem lub chcą podnieść żeglarskie umiejętności i kwalifikacje.</li>
                    <li><i class="bi bi-check-circle"></i> To społeczność stworzona specjalnie do dzielenia się doświadczeniami, wiedzą i żeglarskimi kontaktami. To przestrzeń, w którym możecie się wspierać, wzajemnie od siebie uczyć w bezpiecznej i przyjaznej atmosferze kobiecej wspólnoty.</li>
                </ul>
                <p>

                </p>
            </div>
        </div>


    </div>
</section><!-- End About Section -->





{% include management.html %}

{% include documents.html %}
{% include join_us.html %}
